.main {
  width: 100vw;
  height: 100vh;
  padding: 3%;
}

.body {
  background-color: rgba(195, 178, 196, 1);
  padding-top: 35px;
  height: 95%;
  width: 100%;
  border-radius: 12px;
  border-bottom-right-radius: 65px;
  position: relative;
}

/* SCREEN */
.screenBackground {
  background-color: rgba(101, 84, 102, 1);
  margin: auto;
  padding-top: 20px;
  height: 55%;
  width: 85%;
  border-radius: 12px;
  border-bottom-right-radius: 40px;
}

.screen {
    background-color: rgba(121, 141, 116, 1);
    margin: auto;
    padding: 5px;
    height: 85%;
    width: 80%;
    border-radius: 3px;    
}

.screenText {
    color: rgb(192 224 183);
    font-size: 0.7em;
}

.question,
.answer {
    font-size: .8em;
    text-align: center;
}

.question {
    font-weight: bold;
    margin: 10px;
}

.selectedAnswer {
    color: rgb(224, 254, 216);
    background-color: #aca192;
    font-weight: bold;
}

/* BUTTONS */
.buttons {
    height: 30%;
    width: 85%;
    margin: 30px auto;
    /* display: flex; */
    position: relative;
}

.arrowBTNS {
    position: relative;
    width: 80px;
    height: 80px;
}

.arrowsY,
.arrowsX {
    background-color: black;
    position: absolute;
    border-radius: 5px;
}

.arrowsY {
    height: 80px;
    width: 30px;
    right: 30%;
}
.arrowsX {
    height: 30px;
    width: 80px;
    top: 30%;
}

.inclinedBTNS {
    transform: rotate(-35deg);
    display: flex;
    align-self: flex-end;
    position: absolute;
    right: -30px;
    top: 45px;
}

.startSelect {
    width: 90px;
    height: 60px;
    position: relative;

}
.startContainer,
.selectContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
}

.startContainer {
    bottom: 0;
    right: 10px;
}

.startBTN,
.selectBTN {
    height: 12px;
    width: 40px;
    background-color: rgba(101, 84, 102, 1);
    border-radius: 35%;
}

.abBTNS {
    display: flex;
    width: 115px;
    justify-content: space-evenly;
}

.abContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.abBTN {
    height: 30px;
    width: 30px;
    background-color: rgba(126, 7, 70, 1);
    border-radius: 50%;
}

.buttonsText {
    font-size: .9em;
}
